---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
---

<Layout
  title="portfolio manuel elizalde"
  desc="Contrata a manuel para crear tu aplicación web o móvil. Desarrollador Web y Creador de Contenido."
>
  <main>
    <Hero />
  </main>
</Layout>
