---
const { image } = Astro.props;
const { titulo } = Astro.props;
const { descripcion } = Astro.props;
const { enlace } = Astro.props;
---

<article class="overflow-hidden text-center font-berlin dark:bg-black">
  <div>
    <img src={image} alt="project image" />
  </div>
  <div>
    <h2 class="font-bold text-3xl mt-4 p-2">{titulo}</h2>
    <p class="p-2 text-xl">{descripcion}</p>
  </div>
  <div class="py-2 m-auto justify-center items-center flex">
    <slot name="tecnologias" />
  </div>

  <div class="pb-2">
    <a class="texto-degradado text-2xl" target="_blank" href={enlace}>visitar</a
    >
  </div>
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #5600bc;
    border-radius: 25px;
    max-width: 340px;
    height: 520px;
    animation: Blurcito infinite 2s;
  }

  @keyframes Blurcito {
    0% {
      box-shadow: 0 0 0 0 #5600bc25;
    }

    50% {
      box-shadow: 5px 5px 5px 5px #5600bc25;
    }

    100% {
      box-shadow: 0 0 0 0 #5600bc25;
    }
  }

  article img {
    height: 250px;
    width: 100%;
    transition: 0.3s ease-in-out;
  }

  article:hover img {
    scale: 1.1;
    transition: 0.3s ease-in-out;
  }

  .texto-degradado {
    background: linear-gradient(to right, #5600bc, #ff35ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    transition: 0.3s ease-in-out;
  }

  .texto-degradado:hover {
    background: linear-gradient(to right, #ff35ff, #5600bc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: 0.3s ease-in-out;
    font-weight: bold;
  }
</style>
