---
import CardExpe from "./CardExpe.astro";
---

<section class="flex flex-col items-center m-auto font-berlin">
  <h2 class="text-5xl font-bold mb-8 -translate-y-[300px]">Experiencia</h2>
  <div class="grid sm:grid-cols-1 lg:grid-cols-2 gap-10">
    <CardExpe
      logo="/img/logo1.png"
      trabajo="skull island records"
      time="actual"
      puesto="freelance, desarrollador frontend"
      descrip="Creación de landing pages, comercios electronicos con wordpress y blogs"
    />
    <CardExpe
      logo="/img/logo1.png"
      trabajo="Grupo synergo"
      time="2021 - 2024"
      puesto="encargado y gerente"
      descrip="Responsable de la gestion del personal, trato con proovedores y cumplimiento de metas"
    />
    <CardExpe
      logo="/img/logo1.png"
      trabajo="grupo aldesa (prosis)"
      time="2019-2020"
      puesto="tecnico en mantenimiento de equipos y sistemas computacionales"
      descrip="dar mantenimiento a servidores y computadores, realizar informes de cada mantenimiento"
    />
    <CardExpe
      logo="/img/logo1.png"
      trabajo="a. informatica tlalpan"
      time="2017 - 2018"
      puesto="tecnico en mantenimiento de equipos y sistemas computacionales"
      descrip="Dar mantenimiento a servidores, computadoras, impresoras y monitores, realizar informes de cada mantenimiento"
    />
  </div>
</section>
