<section class="-translate-y-[700px] flex flex-col justify-center items-center">
  <div>
    <img
      class="w-80 rounded-full"
      src="/img/sylenthmen.jpg"
      alt="profile picture of sylenthmen"
    />
  </div>
  <div class="font-berlin mt-4 text-center">
    <h1 class="text-4xl dark:text-white font-bold capitalize">
      desarrollador frontend
    </h1>
    <p class="dark:text-white text-2xl w-96">
      con mas de 1 año de experiencia podemos llevar tu idea a la web utilizando
      las mejores practicas y tecnologias modernas
    </p>
  </div>
</section>
