<nav
  class="flex flex-row justify-between items-center bg-[#151313] dark:bg-black text-white max-w-[1200px] m-auto p-8 translate-y-8 rounded-xl z-50 relative font-berlin"
>
  <div>
    <h2 class="text-white text-4xl font-extrabold">sylenthmen</h2>
  </div>
  <div>
    <ul class="flex gap-x-4 font-bold text-2xl">
      <li><a href="/">Inicio</a></li>
      <li><a href="#proyectos">Proyectos</a></li>
      <li><a href="#experiencia">Experiencia</a></li>
      <li><a href="#skills">Skills</a></li>
    </ul>
  </div>
  <div>
    <a
      class="p-4 bg-white text-black rounded-lg font-bold text-2xl hover:bg-[#5600bc35] hover:text-[#5600bc] transition-all border border-transparent hover:border-[#5600bc] hover:shadow-lg hover:shadow-[#5600bc]"
      href="#">Contacto</a
    >
  </div>
</nav>
